<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>500</title>

	<link type="text/css" rel="stylesheet" href="../static/css/style500.css" />
</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-bg">
				<div></div>
				<div></div>
				<div></div>
			</div>
			<h1>oops!</h1>
			<h2>Error 500 : Internal Error</h2>
			<a href="/">go home</a>
		</div>
	</div>

</body>

</html>
